# requirements.txt : 프로젝트에 필요한 패키지 목록을 적어두는 파일
# - 프로젝트 공유 시 가상환경/패키지는 제외
# - 공유받은 사람이 프로젝트에 필요한 패키지를 설치할 수 있도록
#   프로젝트마다 해당 파일이 작성되어있음

certifi==2026.5.20
charset-normalizer==3.4.7
idna==3.18
requests==2.34.2
urllib3==2.7.0

# .env(환경변수 파일)을 읽고, 쓰고하는 패키지
python-dotenv==1.2.2

# python 콘솔 출력시 생상 추가
colorama==0.4.6

# 테스트 도구 / 파이썬 코드를 실행시켰을때 어디서 문제가 생겼는지 확인해주는것
# ~= : 호환 가능한 버전 범위로 설치해라 ex) ~= 8.3.0 == 8.3.0 전까지의 버전, 연산자 사용하면 됨
pytest~=8.3.0